body {
	background-color: blue;
}

#Opening {
	display: block;
	padding: 40px;
	color: blue;
	text-align: center;
	font-size: 21;
}

#div1 {
	width: 75%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 50;
	background-color: black;
}

#div2 {
	background-color: tan;
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img {
	margin: auto;
	padding-top: 50px;
	display: block;
	width: 80%;
	height: 80%%;
}