<style>
#headerdiv {
    background-color:#680000;
    font-style: italic;
    color:white;
    text-align:center;
    padding:5px;
}
#navdiv {
    line-height:30px;
    background-color: grey;
    height:300px;
    width:125px;
    float:left;
    padding:5px;
    margin-bottom: 30px;
}

#middiv {
    width:350px;
    height:100px;
    padding-right:20px;
    padding-bottom:20px;
    float:left;
    padding:10px;
    margin-left:60px;
}
#answerdiv {
    padding:40px;
    background-color:gold;
    outline: 5px solid black;
    width:350px;
    height:200px;
    float:left;
    margin-left:10px;
}
#image_right {
	float:left;
	width:250px;
	height:200px;
	background-color:white;
	padding-left:100px;
	padding-top:20px;
}
#footerdiv {
    background-color:#680000;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
.italic {
    font-style:italic;
}
</style>
